@import "../../../scss/colors";
@import "../../../scss/responsive";

.facts {
  background: $smartive-dark-blue;
  color: $white;
  padding: 2.5rem 2rem;

  @media #{$large-up}  {
    padding: 7.5rem 5rem;
  }

  ul li {
    margin: 0 0 1rem 3rem;
    list-style-type: none;
    font-size: 1.2rem;

    @media #{$large-up} {
      font-size: 2rem;
      font-weight: 700;
      margin: 0 4rem;
    }

    &:before {
      position: absolute;
      content: '—';
      color: $smartive-blue;
      text-indent: -3rem;
      font-weight: 700;

      @media #{$large-up} {
        font-weight: 900;
      }
    }
  }

  // padding: 7.5rem 5rem;

  h2 {
    color: $smartive-blue;
    font-weight: 400;

    @media #{$large-up} {
      font-size: 1.2rem;
    }
  }
}
