{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "settings": {
    "import/core-modules": []
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", 150]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "graphql": false
  }
}
