@import "../../colors";
@import "../../responsive";

.emphasis {
  font-style: normal;
  border-bottom: .125rem solid $smartive-blue;
}

@media #{$large-up} {
  h1 > .emphasis, h1 > em {
    border-bottom: .25rem solid $smartive-blue;
    font-style: normal;
  }

  h2 > .emphasis, h2 > em {
    border-bottom: .2rem solid $smartive-blue;
    font-style: normal;
  }
}
