@import "../../colors";
@import "../../responsive";

.emphasis {
  font-style: normal;
  border-bottom: .125rem solid $smartive-blue;
}

h1 > .emphasis,
h1 > em {
  border-bottom: .125rem solid $smartive-blue;
  font-style: normal;

  @media #{$small-up} {
    border-bottom-width: .25rem;
  }

}

h2 > .emphasis,
h2 > em {
  border-bottom: .2rem solid $smartive-blue;
  font-style: normal;
}
