@import "../../colors";
@import "../../responsive";

.container:nth-of-type(even) .case-block .case-block__col-img {
  order: -1;
} 
.case-block {
  padding: 1.5rem 1rem;

  @media #{$medium-up} {
    padding: 2.5rem 2rem;
  }

  @media #{$large-up} {
    padding: 5rem 4.5rem;
  }

  h3 {
    color: $smartive-blue;
    font-size: 1.75rem;
    line-height: 1.25;

    @media #{$large-up} {
      font-size: 2.25rem;
    }
  }

  img {
    max-width: 100%;
  }

  picture {
    display: block;
    position: relative; 
    line-height: 0;
    
    @media #{$large-up} {
      margin: 0 4.5rem 5rem;
    }

    &.is-highlighted {
      box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, .1);
    }
  }
}
