@import "../../colors";

.navigation {
  @media #{$large-up} {
    box-shadow: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-content: center;
    margin: .5rem 0;

    @media #{$large-up} {
      margin: 1rem 2.5rem 1rem 0;
    }

    @media #{$xlarge-up} {
      margin: 1rem 1.5rem 1rem 0;
    }

    @media #{$xxlarge-up} {
      margin: 1rem .25rem 1rem 0;
    }

    li {
      display: inline-block;
      position: relative;
      text-align: center;
      flex-grow: 1;
      padding: 0;

      &:first-of-type a {
        margin-left: 0;
      }
    }

    a {
      margin: 0;
      padding: 1rem 0;
      text-decoration: none;
      font-size: .75rem;
      color: $smartive-dark-blue;
      border-bottom: .125rem solid transparent;

      transition: border-bottom-color .2s ease-in-out;

      &.is-active,
      &:hover {
        color: $smartive-blue;

        @media #{$large-up} {
          border-bottom: .125rem solid $smartive-blue;
          color: $smartive-dark-blue;
        }
      }

      @media #{$large-up} {
        font-size: 1.2rem;
        padding: .5rem 0;
        margin: .5rem 1rem;
      }
    }
  }

  .navigation-item--medium {
    border-bottom: none !important;
    margin-right: 0;

    &:hover {
      border-bottom: none !important;
    }

    &:before {
      width: 75px;

      @media #{$large-up} {
        position: absolute;
        content: ' ';
        height: .125rem;
        bottom: -.25rem;
        background: transparent;

        transition: background-color .2s ease-in-out;
      }
    }

    &:hover:before {
      background-color: $smartive-blue;
    }

    &:after {
      display: none;

      @media #{$large-up} {
        position: absolute;
        display: inline;
        height: 2.25rem;
        width: 2.25rem;
        padding-left: .5rem;
        margin-right: 0;
        background-image: url('./medium-m-dark-100px.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        top: 0;
        content: ' ';
      }
    }
  }
}
